[user]
	name = Constantine K
	email = looselyrigorous@gmail.com
[core]
	editor = vim
	pager = less -F -X
	excludesfile = ~/.dotfiles/git/gitignore
	whitespace = trailing-space,space-before-tab
[push]
	default = simple
[alias]
	root = "rev-parse --show-toplevel"
