[user]
	name = Constantine K
	email = looselyrigorous@gmail.com
	signingkey = E63A5B383165BD72
[core]
	editor = vim
	pager = less -F -X
	excludesfile = ~/.dotfiles/git/gitignore
	whitespace = trailing-space,space-before-tab
[push]
	default = simple
[alias]
	root = "rev-parse --show-toplevel"
[commit]
	gpgsign = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
